[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        required = true
[user]
        email = oceancx@gmail.com
        name = oceancx

[alias]
        st = status
        co = checkout
        br = branch
        bl = blame
        mg = merge
        ci = commit
        ds = diff --staged
        dt = difftool
        mt = mergetool
        last = log -1 HEAD
        latest = for-each-ref --sort=-committerdate --format=\"%(committername)@%(refname:short) [%ommitterdate:short)] %(contents)\"
        ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad %C(red)%d %C(reset)%s %C(green)[%cn]\" decorate --date=short
        hist = log --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(blue)%ad\"--topo-order --graph --date=short
        type = cat-file -t
        dump = cat-file -p
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%c %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
[push]
        default = simple

[http]
	sslVerify = false
[merge "daff-tab"]
	name = daff tabular tab merge
	driver = //192.168.21.12/pub/DesignerTools/NewTabTool/bootstrap.exe cui_merge %O %A %B %L %P
[credential]
	helper = manager
[https]
[core]
	gitproxy = git-proxy
[socks]
	proxy = localhost:1080

